* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}

.innernavbar {
    height: 100%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarDivLeft {
    width: 500px;
    height: 50px;
    display: flex;
}

.navbarDivRight {
    width: 200px;
    height: 50px;
    display: flex;
}

.transparentButtons {
    color: grey;
    height: 25px;
    width: 65%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 17px;
}

.buttons {
    font-size: 17px;
    height: 30px;
    width: 85%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    background-color: #ea4c89;
}

.buttons:hover {
    background-color: rgba(230, 89, 143, 0.8);
}

.intro {
    height: 480px;
    width: 100%;
    background-color: #F9F8FD;
    display: flex;
    justify-content: center;
}

.introInnerDiv {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.introDivLeft {
    height: 250px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.introDivRight {
    height: 90%;
    width: 500px;
    background-image: url('https://cdn.dribbble.com/assets/art-banners/romainbriaux-9270a203743088cf36b939b04708d9a18fa794e04373964283a2d87c8f6fba0f.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.selections {
    height: 2200px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.innerSelectionsDiv {
    width: 90%;
    height: 100%;
}

.filter {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.filterDivLeft {
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popularButton {
    height: 85%;
    width: 120px;
    font-size: 17px;
    border-radius: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid rgb(189, 189, 189);
}

.popularButton:hover {
    border: 2px solid #ea4c89;
}

.filterDivMid {
    width: 750px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterBy {
   width: 100px;
   height: 85%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.filterDivRight {
    width: 95px;
    height: 100%;
    display: flex;
}

.tagsImage {
    height: 1900px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imageDiv {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    background-color: black;
}

.ads {
    width: 100%;
    height: 100px;
}

.options {
    width: 100%;
    height: 100px;
}

.endDiv {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #F9F8FD;
}

.endTop {
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.endMid {
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
}

.endBottom {
    width: 100%;
    height: 90px;
}

@media only screen and (max-width: 1350px) {
    .selections {
        height: 2550px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 1250px) {
    .introDivRight {
        height: 70%;
        margin-left: 30px;
    }
}

@media only screen and (max-width: 1150px) {
    .introDivRight {
        height: 60%;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 1050px) {
    
    .introInnerDiv {
        display: flex;
        width: 90%;
        height: 100%;
        flex-direction: column-reverse;
    }
    
    .introDivLeft {
        display: flex;
        justify-content: center;
    }
    
    .introDivRight {
        margin: 0px;
        width: 350px;
    }

    .responsiveIntroLeftButtom {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 1017px) {
    .selections {
        height: 3700px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 984px) {
    .selections {
        height: 7300px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .tagsImage {
        height: 1900px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}